.page {
  &__hero {
    @include adaptiveValue("padding-top", 130, 50);
    margin-bottom: 130px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__more {
    margin-bottom: 85px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__request {
    margin-bottom: 130px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__nav {
    margin-bottom: 130px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
}

.nav-page {
  width: 100%;
  &__container {
    width: 100%;
    &_1120 {
    }
  }

  &__image {
    width: 100%;
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}

// Hatka home page About block ====
.home-about {
  &__creation-history {
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
  &__team-work {
    margin-bottom: 130px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__handy-catalog {
    margin-bottom: 195px;
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
  &__order-flow {
    margin-bottom: 195px;
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
  &__account-func {
    margin-bottom: 30px;
  }
  &__clients-reviews {
    margin-bottom: 150px;
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
  &__project-technologies {
    margin-bottom: 150px;
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
}

.creation-history {
  &__body {
    display: flex;
    justify-content: center;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__info {
    flex: 0 1 560px;
    max-width: 560px;
    width: 100%;
    margin-right: 90px;
    @media (max-width: $pc) {
      margin-right: 30px;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  &__content {
    flex: 610px;
    max-width: 610px;
    width: 100%;
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      padding: 0 percent(90, 768);
    }
  }

  &__image {
  }
}
.info-history {
  & > *:not(:last-child) {
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      margin-bottom: 25px;
    }
  }
  &__title {
  }

  &__info-block {
  }

  &__heading {
    margin-bottom: 12px;
    @media (max-width: $mobile) {
      margin-bottom: 4px;
    }
  }
}

// Team work timeline section =====

.team-work {
  @media (min-width: $pc) {
    margin-top: -80px;
    background: url("../img/icons/yo-big.svg") left -76% top 50px no-repeat;
  }
  &__container {
    overflow-x: scroll;
  }

  &__title {
    max-width: 740px;
    width: 100%;
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__image {
    width: 100%;
    max-width: 100%;
    margin: 0 -15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: $pc) {
      margin: 0;
    }
    @media (max-width: $mobile) {
      max-width: none;
      width: 170%;
    }
  }
}

// Handy catalog section =====

.handy-catalog {
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    @include flex-element(500);
    padding-left: 60px;
    margin-right: 80px;
    @media (max-width: $pc) {
      padding-left: 0;
    }
    @media (max-width: $tablet) {
      margin-right: 30px;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__content {
    @include flex-element(840);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
    }
  }

  &__image {
  }
}

// Order flow section ====

.order-flow {
  &__info-block {
    margin-left: auto;
    margin-right: 190px;
    @include flex-element(420);
    @media (max-width: $pc) {
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: auto;
      @include flex-element(840);
    }
    @media (max-width: $mobile) {
      max-width: none;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__content {
    margin-top: -16%;
    padding-left: 140px;
    @media (max-width: $pc) {
      margin-top: 0;
      padding-left: 0;
    }
  }
}

// Account functional section ====

.account-func {
  &__intro {
    margin-bottom: 95px;
    @media (max-width: $tablet) {
      margin-bottom: 55px;
    }
  }

  &__content {
  }
}

.account-func {
  &__heading {
    @media (max-width: $mobile) {
      margin-bottom: 8px;
    }
  }
  &__content {
  }

  &__slider {
    padding-left: percent(144, 1680);
    @media (max-width: $tablet) {
      padding-left: 16px;
    }
    @media (max-width: em(768)) {
      padding-right: 16px;
    }
  }

  &__wrapper {
  }

  &__slide {
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1432px;
    margin: 16px auto 0 0;
    margin-right: auto;
    @media (max-width: em(1600)) {
      max-width: none;
      padding-right: 16px;
    }
    @media (max-width: $tablet) {
      margin-top: 35px;
    }
    @media (max-width: $mobile) {
      padding-right: 0;
    }
  }
  &__scroll {
    width: 100%;
    height: 5px;
  }
  &__paggination {
    margin-left: 77px;
    flex: 0 0 215px;
    @media (max-width: em(992)) {
      margin-bottom: 40px;
      margin-left: auto;
    }
  }
}

.paggination-servers {
  padding: 65px 0;
  @media (max-width: em(992)) {
    padding: 0;
    padding-right: 16px;
  }
  @media (max-width: $mobile) {
    padding: 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: em(992)) {
      justify-content: flex-end;
    }
  }

  &__prev {
    margin-right: 26px;
  }

  &__next {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      display: inline-block;
      width: 124px;
      height: 124px;
      border-radius: 50%;
      background: #40404d;
      transform: translate(54px, -50%);
      z-index: -1;
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
}

// Reviews section =====

.clients-reviews {
  &__container {
    max-width: 1260px;
  }

  &__inner {
    display: flex;
    @media (max-width: $pc) {
      flex-direction: column;
    }
  }

  &__client-part {
    @include flex-element(560);
    margin-right: 40px;
    @media (max-width: $pc) {
      flex: 1 1 100%;
      max-width: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 55px;
    }
  }

  &__agency-part {
    @include flex-element(660);
    @media (max-width: $pc) {
      flex: 1 1 100%;
      max-width: none;
      width: 100%;
    }
  }
}
.client-part {
  &__title {
    margin-bottom: 33px;
    text-align: right;
    @media (max-width: $mobile) {
      text-align: left;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    @media (max-width: $pc) {
      flex-direction: row;
      margin: 0 -20px;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      margin: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @media (max-width: $pc) {
      padding: 0 20px;
      flex: 0 1 50%;
    }
    @media (max-width: $tablet) {
      padding: 0;
      flex: 1 1 100%;
    }
  }

  &__person {
    display: flex;
  }

  &__avatar {
    flex: 0 0 140px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 70px;
    @media (max-width: $mobile) {
      width: 52px;
      height: 52px;
      flex: 0 0 52px;
      margin-right: 5px;
    }
  }

  &__info {
  }

  &__name {
    margin-bottom: 6px;
    @include adaptiveValue("font-size", 27, 16);
    @include adaptiveValue("line-height", 37, 28);
  }

  &__post {
    color: #d2d2d2;
  }

  &__quote {
    padding: 30px;
    background: #d2d2d2;
    margin-left: 210px;
    margin-top: -50px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 1px;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 45px 32px 0;
      border-color: transparent #d2d2d2 transparent transparent;
      transform: translate(-100%, 0);
    }
    @media (max-width: em(1080)) {
      margin-top: 0;
    }
    @media (max-width: $mobile) {
      padding: 24px 16px 38px;
      margin-left: 50px;
      margin-top: 10px;
    }
  }
}

.agency-part {
  padding: 137px 70px 137px 100px;
  background: #d2d2d2;
  color: #2f2f39;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 90px 90px 0;
    border-color: transparent $mainDark transparent transparent;
    @media (max-width: $mobile) {
      border-width: 0 40px 40px 0;
    }
  }
  @media (max-width: $mobile) {
    padding: 64px 20px 147px;
  }
  &__box {
  }

  &__title {
    position: relative;
    margin-bottom: 55px;
    @media (max-width: $mobile) {
      margin-bottom: 35px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: $mainDark;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

// Project technologies section =====

.project-technologies {
  &__container {
  }

  &__title {
    margin-bottom: 44px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    @media (max-width: $pc) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item {
    flex: 0 0 140px;
    @media (max-width: $pc) {
      margin-bottom: 16px;
    }
  }
}
.item-technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    width: 80px;
    height: 80px;
    margin-bottom: 23px;
    img {
      max-width: 100%;
    }
  }

  &__name {
    font-size: 21px;
    line-height: 32px;
  }
}

// Search page
// Hero section ====

.search-about {
  &__branches {
    margin-bottom: 150px;
    @media (max-width: $tablet) {
      margin-bottom: 120px;
    }
  }
  &__target-group {
    margin-bottom: 150px;
    @media (max-width: $tablet) {
      margin-bottom: 120px;
    }
  }
  &__analogs {
    margin-bottom: 150px;
    @media (max-width: $tablet) {
      margin-bottom: 120px;
    }
  }
  &__flow {
    margin-bottom: 150px;
    @media (max-width: $tablet) {
      margin-bottom: 120px;
    }
  }
}
.search-branches {
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -15px;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__column {
    @include flex-element(560);
    padding: 0 15px;
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }
}

// Target groups section =====

.target-group {
  padding: 0 10px;
  @media (max-width: $pc) {
    padding: 0;
  }
  &__container {
  }

  &__intro {
    max-width: 840px;
    width: 100%;
    margin-bottom: 64px;
    padding-left: 50px;
    @media (max-width: $pc) {
      padding-left: 0;
    }
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__customers {
  }
}

.customers-group {
  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
    @include flex-element(375);
    @media (max-width: $tablet) {
      margin-bottom: 16px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media (max-width: em(840)) {
      flex: 1 1 100%;
      max-width: none;
      &:not(:last-child) {
        margin-right: 0;
      }
      br {
        display: none;
      }
    }
  }

  &__card {
  }
}

// Analogs section =====

.search-analogs {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: rem(818);
    height: rem(599);
    transform: translate(0, -15%);
    background: url("../img/icons/yo-big.svg") no-repeat;
    background-size: contain;
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__intro {
    position: relative;
    z-index: 1;
    margin-bottom: 62px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__info-block {
    max-width: 840px;
    width: 100%;
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    @media (max-width: $mobile) {
      margin-bottom: 32px;
    }
  }

  &__image {
    &_desktop {
    }

    &_mobile {
    }
  }

  &__description {
    position: relative;
    z-index: 1;
  }

  &__text {
    max-width: 840px;
    width: 100%;
    color: #595964;
  }
}

// Work flow section =====

.search-flow {
  &__container {
    &_1400 {
      overflow: scroll;
    }
  }

  &__intro {
    margin-bottom: 90px;
    @media (max-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__info-block {
    max-width: 840px;
    width: 100%;
  }

  &__content {
  }

  &__heading {
    margin-bottom: 35px;
    max-width: 600px;
    width: 100%;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__image {
    @media (max-width: $mobile) {
      max-width: none;
      width: 135%;
    }
  }
}

// Proto page
// Structure section ====

.proto-about {
  &__structure {
    margin-bottom: 150px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__visual {
    margin-bottom: 150px;
    @media (max-width: $pc) {
      margin-bottom: 90px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 32px;
    }
  }
  &__main-page {
    margin-bottom: 155px;
    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }
  }
  &__catalog-elements {
    margin-bottom: 175px;
    @media (max-width: $tablet) {
      margin-bottom: 120px;
    }
  }
  &__comparing {
    margin-bottom: 120px;
    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }
  }
  &__ordering {
    margin-bottom: 120px;
    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }
  }
  &__mobile {
    margin-bottom: 150px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
}
.proto-structure {
  &__container {
    overflow-x: scroll;
    background: url("../img/hatka/proto/structure/1-bg.png") bottom right -5% no-repeat;
    @media (max-width: $mobile) {
      background: none;
    }
  }

  &__intro {
    max-width: 840px;
    width: 100%;
    margin-bottom: 56px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__content {
  }

  &__image {
    max-width: 945px;
    @media (max-width: $mobile) {
      max-width: none;
      width: 125%;
    }
  }
}
// Visual proto ====
.visual-proto {
  &__common {
    max-width: 720px;
    width: 100%;
  }
}

// Main-page section ====

.main-page-proto {
  &__info {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__paragraph {
    @include flex-element(540);
    &:first-child {
      margin-right: 30px;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      &:first-child {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
  }

  &__content {
    @media (max-width: $mobile) {
      padding: 0 16px;
    }
  }
}

// Catalog elements section =====

.catalog-elements {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    flex: 0 1 percent(888, 1260);
    margin-right: 20px;
    @media (max-width: $tablet) {
      margin-right: 0;
    }
  }

  &__info {
    @include flex-element(280);
    @media (max-width: $tablet) {
      flex: 1 1 100%;
      max-width: none;
      margin-bottom: 33px;
    }
  }

  &__heading {
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      margin-bottom: 5px;
    }
  }
}

.proto-comparing {
  &__container {
    //   position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   display: inline-block;
    //   width: rem(818);
    //   height: rem(599);
    //   transform: translate(0, -15%);
    //   background: url("../img/icons/yo-big.svg") no-repeat;
    //   background-size: contain;
    //   @media (max-width: $mobile) {
    //     display: none;
    //   }
  }

  &__inner {
    display: flex;
  }

  &__info {
    @include flex-element(415);
  }

  &__heading {
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      margin-bottom: 5px;
    }
  }

  &__content {
    @include flex-element(810);
  }
}

// Comparing section =====

.proto-comparing {
  &__container {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: rem(870);
      height: rem(549);
      transform: translate(100px, -65%);
      background: url("../img/icons/yoldi-waved-big.svg") no-repeat;
      background-size: contain;
      z-index: -1;
      @media (max-width: $pc) {
        transform: translate(0, -40%);
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__info {
    @include flex-element(415);
    margin-left: 140px;
    margin-right: 40px;
    @media (max-width: $pc) {
      margin-left: 0;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      margin-right: 0;
      max-width: none;
      margin-bottom: 42px;
    }
  }

  &__heading {
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      margin-bottom: 5px;
    }
  }

  &__content {
    @include flex-element(805);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      // margin: 0 -16px;
    }
  }
}

// Ordering section ====

.ordering-proto {
  &__container {
    &_1400 {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: rem(222);
        height: rem(1788);
        transform: translate(0, -15%);
        background: url("../img/icons/vertical-wave.svg") no-repeat;
        background-size: contain;
        z-index: -1;
        @media (max-width: $tablet) {
          transform: translate(0, 0);
        }
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }

  &__info {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 80px;
    @media (max-width: $mobile) {
      margin-bottom: 33px;
    }
  }

  &__heading {
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      margin-bottom: 5px;
    }
  }

  &__image {
    margin-top: 100px;
    @media (max-width: $pc) {
      margin-top: 50px;
    }
    @media (max-width: $mobile) {
      margin-top: 10px;
    }
  }
}

// Mobile section =====

.mobile-proto {
  &__container {
    margin-bottom: 82px;
    @media (max-width: $mobile) {
      margin-bottom: 33px;
    }
  }

  &__info {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      margin-bottom: 5px;
    }
  }
}

// Brand page
// Image section =====

.brand-about {
  &__image {
    margin-bottom: 140px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }

  &__moodboard {
    margin-bottom: 150px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }

  &__naming {
    margin-bottom: 150px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__logo {
    margin-bottom: 150px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__colors {
    margin-bottom: 150px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__typography {
    margin-bottom: 115px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__identity {
    margin-bottom: 50px;
    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  &__brandbook {
    margin-bottom: 140px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
}
.about-image {
  &__intro {
    margin-bottom: 100px;
    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }
  }

  &__info-block {
    max-width: 720px;
    width: 100%;
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__main-idea {
  }
}

.main-idea {
  &__intro {
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      margin-bottom: 33px;
    }
  }

  &__inner {
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__heading {
    @include flex-element(245);
    @media (max-width: $mobile) {
      max-width: none;
      flex: 1 1 100%;
      margin-bottom: 5px;
      &_50 {
        margin-bottom: 50px;
      }
    }
  }

  &__title {
  }

  &__info {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    @media (max-width: $mobile) {
      flex-direction: column;
      flex: 1 1 100%;
    }
  }

  &__text {
    @include flex-element(420);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__content {
    margin-bottom: 120px;
    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    margin: 0 -25px;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__column {
    padding: 0 25px;
    @include flex-element(620);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      &:first-child {
        margin-bottom: 16px;
      }
    }
  }

  &__image {
  }

  &__decision {
    margin-bottom: 100px;
    padding-left: 85px;
    @media (max-width: $pc) {
      padding-left: 0;
    }
    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }
    span {
      color: $mainYellow;
    }
  }

  &__example {
    padding-left: 85px;
    @media (max-width: $pc) {
      padding-left: 0;
    }
  }
}

// Moodboard section ====

.about-moonboard {
  &__intro {
    margin-bottom: 70px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__image {
    &_desktop {
    }

    &_mobile {
    }
  }

  &__info-block {
    max-width: 720px;
    width: 100%;
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }
}

// Naming section =====

.about-naming {
  &__container {
    background: url("../img/icons/hatka-big-name.svg") no-repeat;
    background-size: 1160px 365px;
    background-position: top 50px left;
    @media (max-width: $pc) {
      background-size: contain;
    }
    @media (max-width: $mobile) {
      background: none;
    }
  }

  &__intro {
    padding: 0 27px;
    @media (max-width: $pc) {
      padding: 0;
    }
    @media (max-width: $mobile) {
      margin-bottom: 65px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__main-info {
    @include flex-element(420);
    margin-right: 30px;
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 64px;
    }
  }

  &__info-block {
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__aside-info {
    padding-top: 50px;
    margin-right: 50px;
    @include flex-element(400);
    @media (max-width: $pc) {
      padding-right: 0;
    }
    @media (max-width: $mobile) {
      padding-top: 0;
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__content {
  }
}

.aside-info {
  &__inner {
    display: flex;
  }

  &__image {
    margin-right: 26px;
    @media (max-width: $mobileSmall) {
      margin-right: 16px;
    }
  }

  &__list {
    li {
      white-space: nowrap;
      @media (max-width: $mobileSmall) {
        white-space: normal;
      }
    }
  }
}
.naming-content {
  padding-left: 55px;
  max-width: 1095px;
  @media (max-width: $pc) {
    padding-left: 0;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    margin: 0 -12px;
    @media (max-width: $mobile) {
      flex-direction: column;
      margin: 0;
    }
  }

  &__item {
    padding: 0 12px;
    @include flex-element(347);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__image {
  }
}

// Logo section ====

.about-logo {
  &__top {
    margin-bottom: 86px;
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }

  &__container {
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__info {
    @include flex-element(420);
    margin-right: 30px;
    margin-top: 30px;
    @media (max-width: $mobile) {
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 24px;
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__info-block {
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__logo {
    @include flex-element(556);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
    }
  }
}

// Color section =====

.about-colors {
  &__container {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      max-width: 870px;
      max-height: 547px;
      width: 100%;
      height: 100%;
      background: url("../img/icons/yoldi-waved-big.svg") no-repeat;
      transform: translate(-15%, 5%);
      @media (max-width: $pc) {
        transform: translate(0px, 0px);
      }
      @media (max-width: $mobile) {
        background: none;
      }
    }
  }

  &__intro {
    max-width: 720px;
    width: 100%;
    margin-bottom: 62px;
    position: relative;
    z-index: 1;
    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__line {
    &:not(:last-child) {
      margin-bottom: 52px;
      @media (max-width: $mobile) {
        margin-bottom: 80px;
      }
    }
  }
}

.color-line {
  &__inner {
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }
  &__heading {
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      margin-bottom: 5px;
    }
  }

  &__pallet {
    @include flex-element(610);
    margin-right: 50px;
    @media (max-width: $mobile) {
      margin-right: 0;
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__image {
  }

  &__info {
    @include flex-element(460);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-bottom: 33px;
    }
  }
}

// Typography section =====

.about-typography {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 950px;
    top: 50%;
    right: 20%;
    transform: translate(0%, -40%);
    display: inline-block;
    background: url("../img/icons/vertical-wave-2.svg") no-repeat;
  }
  &__intro {
    margin-bottom: 70px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__info-block {
    max-width: 720px;
    width: 100%;
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__part {
    flex: 0 1 50%;
    min-height: 100%;
    &:first-child {
      margin-right: 40px;
      @media (max-width: $pc) {
        margin-right: 20px;
      }
      @media (max-width: $tablet) {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
    @media (max-width: $tablet) {
      flex: 1 1 100%;
    }
  }
}

.typo-part {
  padding: 60px 60px 53px;
  background: #40404c;
  @media (max-width: $mobile) {
    padding: 40px 16px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__info-block {
    flex: 1 1 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    &_narrow {
      max-width: 350px;
      @media (max-width: $tablet) {
        max-width: none;
      }
    }
  }

  &__heading {
    margin-bottom: 36px;
    span {
      color: #505060;
    }
    @media (max-width: $mobile) {
      margin-bottom: 29px;
    }
  }

  &__body {
    flex: 1 1 auto;
  }
}

// Identity section ====

.about-identity {
  position: relative;
  padding-bottom: 100px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: percent(730, 1680);
    height: percent(540, 700);
    background: url("../img/icons/bus.svg") no-repeat;
    background-size: 200% auto;
    @media (max-width: $mobile) {
      top: 0;
      width: 90%;
      transform: translate(5%, 0);
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: percent(1000, 1680);
    height: percent(670, 900);
    transform: translate(-10%, 0);
    background: url("../img/icons/yo-big.svg") no-repeat;
    @media (max-width: $pc) {
      display: none;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__row {
    display: flex;
    align-items: center;
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__content {
    @include flex-element(680);
    margin-right: 120px;
    @media (max-width: $pc) {
      margin-right: 100px;
    }
    @media (max-width: $tablet) {
      margin-right: 50px;
    }
    @media (max-width: $mobile) {
      margin-right: 0;
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__info {
    @include flex-element(420);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-bottom: 24px;
    }
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }
}

// Brandbook section =====

.about-brandbook {
  position: relative;
  z-index: 1;
  &__container {
  }

  &__inner {
    display: flex;
    align-items: stretch;
    @media (max-width: em(600)) {
      flex-direction: column-reverse;
    }
  }

  &__card {
    position: relative;
    @include flex-element(560);
    padding: 100px 140px 150px;
    background: #40404d;
    @media (max-width: $pc) {
      padding: 80px 80px 100px;
    }
    @media (max-width: $tablet) {
      padding: 80px 18px 47px;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      height: auto;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: percent(470, 560);
      height: percent(217, 560);
      transform: translate(-50%, -10%);
      display: inline-block;
      background: url("../img/icons/pdf.svg") no-repeat;
      background-size: contain;
      background-position: center;
      @media (max-width: $tablet) {
        top: 0;
        transform: translate(-50%, 10px);
      }
    }
  }

  &__body {
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
    @media (max-width: $mobile) {
      margin-bottom: 34px;
    }
  }

  &__heading {
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
  }

  &__button {
    position: relative;
    z-index: 1;
  }

  &__content {
    min-height: 100%;
    width: 100%;
  }

  &__image-ibg {
    height: 100%;
    padding-bottom: percent(670, 812);
  }
}

// Design page
// Main page section ====

.design-about {
  &__main-page {
    margin-bottom: 150px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }

  &__goods-page {
    margin-bottom: 150px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__comparing-page {
    margin-bottom: 0;
    @media (max-width: $tablet) {
      margin-bottom: 120px;
    }
  }

  &__grid {
    margin-top: 150px;
    margin-bottom: 150px;
    @media (max-width: $tablet) {
      margin-top: 0;
      margin-bottom: 120px;
    }
  }

  &__styles {
    margin-bottom: 150px;
    @media (max-width: $tablet) {
      margin-bottom: 120px;
    }
  }
}

.main-page-design {
  &__intro {
    margin-bottom: 55px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__info-block {
    display: flex;
    align-items: flex-start;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__heading {
    @include flex-element(360);
    margin-right: 73px;
    @media (max-width: $pc) {
      margin-right: 40px;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-bottom: 24px;
      margin-right: 0;
    }
  }
  &__body {
    @include flex-element(450);
    padding-top: 15px;
    &_short {
      @include flex-element(350);
    }
    @media (max-width: $pc) {
      padding-top: 0;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
    }
  }
}

// Goods page section =====

.goods-page-design {
  &_bg {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 700px;
      height: 1890px;
      top: 0;
      right: 0;
      background: url("../img/hatka/design/goods/bg.png") no-repeat;
      background-size: contain;
      transform: translate(-36%, 50px);
      z-index: -1;
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
  &__intro {
    margin-bottom: 45px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }
}

// Comparing section ====

.comparing-page-design {
  background: url("../img/icons/yoldi-waved-big.svg") no-repeat;
  background-position: left -5% center;
  background-size: 38% auto;

  &__row {
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__intro {
    @include flex-element(350);
    margin-right: 46px;
    margin-left: 140px;
    @media (max-width: $pc) {
      margin-right: 25px;
      margin-left: 0;
    }
    @media (max-width: $mobile) {
      margin-right: 0;
      margin-bottom: 24px;
      max-width: none;
      flex: 1 1 100%;
    }
  }

  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__content {
    @include flex-element(867);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
    }
  }
}

// Grid section ====
.grid-design {
  &__intro {
    margin-left: 120px;
    @media (max-width: $pc) {
      margin-left: 0;
    }
    @media (max-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__inner {
    display: flex;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__info {
    @include flex-element(350);
    margin-right: 50px;
    @media (max-width: $pc) {
      margin-right: 20px;
    }
    @media (max-width: $tablet) {
      margin-right: 0;
      margin-bottom: 24px;
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__schema {
    @include flex-element(840);
    @media (max-width: $tablet) {
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__decor {
  }

  &__content {
    margin-top: -20px;
    @media (max-width: $mobile) {
      margin-top: 0;
    }
  }
}

// Styles section ====

.styles-design {
  &__container {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: url("../img/icons/horizontal-wave.svg") no-repeat;
      background-position: bottom;
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    @include flex-element(700);
    margin-right: 70px;
    @media (max-width: $pc) {
      margin-right: 30px;
    }
    @media (max-width: $mobile) {
      margin-right: 0;
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__info {
    @include flex-element(350);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-bottom: 24px;
    }
  }
  &__heading {
    margin-bottom: 35px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }
}
