.page__hero {
  @include adaptiveValue("padding-top", 130, 50);
  margin-bottom: 130px;
  @media (max-width: $mobile) {
    margin-bottom: 120px;
  }
}

.page__more {
  margin-bottom: 85px;
  @media (max-width: $mobile) {
    margin-bottom: 120px;
  }
}

// Hatka home page About block ====
.home-about {
  &__creation-history {
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
  &__team-work {
    margin-bottom: 130px;
    @media (max-width: $mobile) {
      margin-bottom: 120px;
    }
  }
  &__handy-catalog {
    margin-bottom: 195px;
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
  &__order-flow {
    margin-bottom: 195px;
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
  &__account-func {
    margin-bottom: 30px;
  }
  &__clients-reviews {
    margin-bottom: 150px;
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
  &__project-technologies {
    margin-bottom: 150px;
    @media (max-width: $pc) {
      margin-bottom: 120px;
    }
  }
}

.creation-history {
  &__body {
    display: flex;
    justify-content: center;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__info {
    flex: 0 1 560px;
    max-width: 560px;
    width: 100%;
    margin-right: 90px;
    @media (max-width: $pc) {
      margin-right: 30px;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  &__content {
    flex: 610px;
    max-width: 610px;
    width: 100%;
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      padding: 0 percent(90, 768);
    }
  }

  &__image {
  }
}
.info-history {
  & > *:not(:last-child) {
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      margin-bottom: 25px;
    }
  }
  &__title {
  }

  &__info-block {
  }

  &__heading {
    margin-bottom: 12px;
    @media (max-width: $mobile) {
      margin-bottom: 4px;
    }
  }
}

// Team work timeline section =====

.team-work {
  @media (min-width: $pc) {
    margin-top: -80px;
    background: url("../img/icons/yo-big.svg") left -76% top 50px no-repeat;
  }
  &__container {
    overflow-x: scroll;
  }

  &__title {
    max-width: 740px;
    width: 100%;
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__image {
    width: 100%;
    max-width: 100%;
    margin: 0 -15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: $pc) {
      margin: 0;
    }
    @media (max-width: $mobile) {
      max-width: none;
      width: 170%;
    }
  }
}

// Handy catalog section =====

.handy-catalog {
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    @include flex-element(500);
    padding-left: 60px;
    margin-right: 80px;
    @media (max-width: $pc) {
      padding-left: 0;
    }
    @media (max-width: $tablet) {
      margin-right: 30px;
    }
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__content {
    @include flex-element(840);
    @media (max-width: $mobile) {
      flex: 1 1 100%;
    }
  }

  &__image {
  }
}

// Order flow section ====

.order-flow {
  &__info-block {
    margin-left: auto;
    margin-right: 190px;
    @include flex-element(420);
    @media (max-width: $pc) {
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: auto;
      @include flex-element(840);
    }
    @media (max-width: $mobile) {
      max-width: none;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__content {
    margin-top: -16%;
    padding-left: 140px;
    @media (max-width: $pc) {
      margin-top: 0;
      padding-left: 0;
    }
  }
}

// Account functional section ====

.account-func {
  &__intro {
    margin-bottom: 95px;
    @media (max-width: $tablet) {
      margin-bottom: 55px;
    }
  }

  &__content {
  }
}

.account-func {
  &__heading {
    @media (max-width: $mobile) {
      margin-bottom: 8px;
    }
  }
  &__content {
  }

  &__slider {
    padding-left: percent(144, 1680);
    @media (max-width: $tablet) {
      padding-left: 16px;
    }
    @media (max-width: em(768)) {
      padding-right: 16px;
    }
  }

  &__wrapper {
  }

  &__slide {
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1432px;
    margin: 16px auto 0 0;
    margin-right: auto;
    @media (max-width: em(1600)) {
      max-width: none;
      padding-right: 16px;
    }
    @media (max-width: $tablet) {
      margin-top: 35px;
    }
    @media (max-width: $mobile) {
      padding-right: 0;
    }
  }
  &__scroll {
    width: 100%;
    height: 5px;
  }
  &__paggination {
    margin-left: 77px;
    flex: 0 0 215px;
    @media (max-width: em(992)) {
      margin-bottom: 40px;
      margin-left: auto;
    }
  }
}

.paggination-servers {
  padding: 65px 0;
  @media (max-width: em(992)) {
    padding: 0;
    padding-right: 16px;
  }
  @media (max-width: $mobile) {
    padding: 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: em(992)) {
      justify-content: flex-end;
    }
  }

  &__prev {
    margin-right: 26px;
  }

  &__next {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      display: inline-block;
      width: 124px;
      height: 124px;
      border-radius: 50%;
      background: #40404d;
      transform: translate(54px, -50%);
      z-index: -1;
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
}

// Reviews section =====

.clients-reviews {
  &__container {
    max-width: 1260px;
  }

  &__inner {
    display: flex;
    @media (max-width: $pc) {
      flex-direction: column;
    }
  }

  &__client-part {
    @include flex-element(560);
    margin-right: 40px;
    @media (max-width: $pc) {
      flex: 1 1 100%;
      max-width: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 55px;
    }
  }

  &__agency-part {
    @include flex-element(660);
    @media (max-width: $pc) {
      flex: 1 1 100%;
      max-width: none;
      width: 100%;
    }
  }
}
.client-part {
  &__title {
    margin-bottom: 33px;
    text-align: right;
    @media (max-width: $mobile) {
      text-align: left;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    @media (max-width: $pc) {
      flex-direction: row;
      margin: 0 -20px;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      margin: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @media (max-width: $pc) {
      padding: 0 20px;
      flex: 0 1 50%;
    }
    @media (max-width: $tablet) {
      padding: 0;
      flex: 1 1 100%;
    }
  }

  &__person {
    display: flex;
  }

  &__avatar {
    flex: 0 0 140px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 70px;
    @media (max-width: $mobile) {
      width: 52px;
      height: 52px;
      flex: 0 0 52px;
      margin-right: 5px;
    }
  }

  &__info {
  }

  &__name {
    margin-bottom: 6px;
    @include adaptiveValue("font-size", 27, 16);
    @include adaptiveValue("line-height", 37, 28);
  }

  &__post {
    color: #d2d2d2;
  }

  &__quote {
    padding: 30px;
    background: #d2d2d2;
    margin-left: 210px;
    margin-top: -50px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 1px;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 45px 32px 0;
      border-color: transparent #d2d2d2 transparent transparent;
      transform: translate(-100%, 0);
    }
    @media (max-width: em(1080)) {
      margin-top: 0;
    }
    @media (max-width: $mobile) {
      padding: 24px 16px 38px;
      margin-left: 50px;
      margin-top: 10px;
    }
  }
}

.agency-part {
  padding: 137px 70px 137px 100px;
  background: #d2d2d2;
  color: #2f2f39;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 90px 90px 0;
    border-color: transparent $mainDark transparent transparent;
    @media (max-width: $mobile) {
      border-width: 0 40px 40px 0;
    }
  }
  @media (max-width: $mobile) {
    padding: 64px 20px 147px;
  }
  &__box {
  }

  &__title {
    position: relative;
    margin-bottom: 55px;
    @media (max-width: $mobile) {
      margin-bottom: 35px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: $mainDark;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

// Project technologies section =====

.project-technologies {
  &__container {
  }

  &__title {
    margin-bottom: 44px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    @media (max-width: $pc) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item {
    flex: 0 0 140px;
    @media (max-width: $pc) {
      margin-bottom: 16px;
    }
  }
}
.item-technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    width: 80px;
    height: 80px;
    margin-bottom: 23px;
    img {
      max-width: 100%;
    }
  }

  &__name {
    font-size: 21px;
    line-height: 32px;
  }
}
