//====================================================================================================
.header {
  &_desc {
    display: none;
    @media (min-width: $mobile) {
      display: block;
    }
  }
  &_mob {
    display: none;
    @media (max-width: $mobile) {
      display: block;
    }
  }
}
//====================================================================================================
