.hero-block {
  &__breadcrumps {
    margin-bottom: 53px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__info {
    max-width: 840px;
    width: 100%;
  }
  &__image {
    margin-top: 35px;
    @media (max-width: $mobile) {
      margin-top: 20px;
    }
  }
}

.info-hero {
  &__title {
    margin-bottom: 25px;
    @include adaptiveValue("font-size", 59, 30);
    @include adaptiveValue("line-height", 70, 39);
    font-weight: 700;
    @media (max-width: $mobile) {
      margin-bottom: 15px;
    }
  }

  &__text {
  }
}
