@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "OrenburgC", sans-serif;
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
$mainDark: #2f2f39;
$mainGrey: #505060;
$lightGrey: #d2d2d2;
$mainYellow: #feff55;
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1680;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1400;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 32;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
  background: $mainDark;
  color: #fff;
  // Скролл заблокирован
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: -1;
  }
  &#hatka-home {
    &::before {
      background-image: linear-gradient(
          180deg,
          rgba(126, 126, 153, 0.2) 0%,
          #2f2f39 96.37%
        ),
        url("@img/hatka/home/hero/bg.jpg");
      @media (max-width: $mobile) {
        height: 40%;
        background-image: linear-gradient(
            180deg,
            rgba(126, 126, 153, 0.5) 0%,
            #2f2f39 100%
          ),
          url("@img/hatka/home/hero/bg.jpg");
        background-size: 160% auto;
        background-position: top right 33%;
      }
    }
  }
  &#hatka-search {
    &::before {
      background-image: linear-gradient(
          180deg,
          rgba(126, 126, 153, 0.2) 0%,
          #2f2f39 96.37%
        ),
        url("@img/hatka/search/hero/bg.jpg");
      @media (max-width: $mobile) {
        height: 70%;
        background-image: linear-gradient(
            180deg,
            rgba(126, 126, 153, 0.5) 0%,
            #2f2f39 100%
          ),
          url("@img/hatka/search/hero/bg.jpg");
        background-size: 250% auto;
        background-position: top left;
      }
    }
  }
  &#hatka-proto {
    &::before {
      background-image: linear-gradient(
          180deg,
          rgba(126, 126, 153, 0.2) 0%,
          #2f2f39 96.37%
        ),
        url("@img/hatka/proto/hero/bg.jpg");
      @media (max-width: $mobile) {
        height: 55%;
        background-image: linear-gradient(
            180deg,
            rgba(126, 126, 153, 0.5) 0%,
            #2f2f39 100%
          ),
          url("@img/hatka/proto/hero/bg.jpg");
        background-size: 200% auto;
        background-position: top left;
      }
    }
  }
  &#hatka-brand {
    &::before {
      background-image: linear-gradient(
          180deg,
          rgba(126, 126, 153, 0.2) 0%,
          #2f2f39 96.37%
        ),
        url("@img/hatka/brand/hero/bg.jpg");
      @media (max-width: $mobile) {
        height: 65%;
        background-image: linear-gradient(
            180deg,
            rgba(126, 126, 153, 0.5) 0%,
            #2f2f39 100%
          ),
          url("@img/hatka/brand/hero/bg.jpg");
        background-size: 200% auto;
        background-position: top left;
      }
    }
  }
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  .loaded & {
  }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";
@import "more-about-project";
@import "hero";

// Подключение стилей отдельных страниц
@import "home";
// @import "medialand";
@import "hatka";
